name: riverpod_hook_mutation
description: "A package that provides a simple way to manage mutations in Riverpod"
version: 0.0.5
homepage: https://github.com/masreplay/riverpod_hook_mutation
issue_tracker: https://github.com/masreplay/riverpod_hook_mutation/issues
documentation: https://riverpod.dev/getting-started
funding: [https://github.com/sponsors/masreplay]
topics: [riverpod, mutation, flutter, hook, use]

screenshots:
  - description: the definition of a mutation
    path: screenshots/define.png
  - description: the calling of a mutation
    path: screenshots/call.png
  - description: the usage of a mutation
    path: screenshots/usage.png

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  test: ^1.24.9
  hooks_riverpod: ^2.5.2

flutter:

scripts:
  g:
    $script: rps gen build
    $description: shortcut for gen build
  w:
    $script: rps gen watch
    $description: shortcut for gen watch

  get:
    $script: fvm flutter pub get
    $description: Get dependencies

  gen:
    watch:
      $script: fvm dart run build_runner watch --delete-conflicting-outputs
      $description: Generate files on save
    build:
      $script: fvm dart run build_runner build --delete-conflicting-outputs
      $description: Generate files

  publish:
    $script: fvm flutter pub publish
    $description: Publish package

  fix-format:
    $script: fvm dart fix --apply && fvm dart format -o write ./lib
    $description: Fix code warnings and format code
